<section class="coffee"  id="link-gallery">
  <div class="coffee_container">
    <h2 class="coffee_title">COFFEE MOMENTS</h2>
    <p>Experience the warmth and community of CoffeeJoy.</p>
    <div class="coffee_grid">
  <ul class="coffee_col">
    <li class="card card--a">
      <img src="/img/experience/ready-coffee-1x.jpg"
           srcset="/img/experience/ready-coffee-1x.jpg, /img/experience/ready-coffee-2x.jpg 2x"
           alt="Latte" />
    </li>

    <li class="card card--b">
      <img src="/img/experience/croissant-1x.jpg"
           srcset="/img/experience/croissant-1x.jpg, /img/experience/croissant-2x.jpg 2x"
           alt="Breakfast" />
    </li>
  </ul>

  <ul class="coffee_col">
    <li class="card card--c card--sm">
      <img src="/img/experience/coffee-place-1x.jpg"
           srcset="/img/experience/coffee-place-1x.jpg, /img/experience/coffee-place-2x.jpg 2x"
           alt="Armchair" />
    </li>

    <li class="card card--d card--sm">
      <img src="/img/experience/make-coffee-1x.jpg"
           srcset="/img/experience/make-coffee-1x.jpg, /img/experience/make-coffee-2x.jpg 2x"
           alt="Pouring coffee" />
    </li>

    <li class="card card--e">
      <img src="/img/experience/coffeejoy-room-1x.jpg"
           srcset="/img/experience/coffeejoy-room-1x.jpg, /img/experience/coffeejoy-room-2x.jpg 2x"
           alt="Cafe interior" />
    </li>
  </ul>

  <ul class="coffee_col">
    <li class="card card--f">
      <img src="/img/experience/garden-coffee-1x.jpg"
           srcset="/img/experience/garden-coffee-1x.jpg, /img/experience/garden-coffee-2x.jpg 2x"
           alt="Garden coffee" />
    </li>

    <li class="card card--g">
      <img src="/img/experience/coffeejoy-1x.jpg"
           srcset="/img/experience/coffeejoy-1x.jpg, /img/experience/coffeejoy-2x.jpg 2x"
           alt="Takeaway cup" />
    </li>
  </ul>
</div>
  </div>
</section>
