<footer class="footer">
  <div class="container footer__container">
    <div class="footer__box">

      <div class="footer__left">
        <a href="#" class="footer__logo">
          <svg class="footer__logo-icon">
            <use href="/img/icon/icons.svg#icon-logo"></use>
          </svg>
        </a>
        
        <ul class="footer__socials">
          <li><a href="#"><svg class="footer__icon"><use href="/img/icon/icons.svg#icon-facebook-icon"></use></svg></a></li>
          <li><a href="#"><svg class="footer__icon"><use href="/img/icon/icons.svg#icon-insta-icon"></use></svg></a></li>
          <li><a href="#"><svg class="footer__icon"><use href="/img/icon/icons.svg#icon-Twitter-icon"></use></svg></a></li>
        </ul>
      </div>

      <nav class="footer__nav">
        <a href="#">About us</a>
        <a href="#">Benefits</a>
        <a href="#">Gallery</a>
        <a href="#">Testimonial</a>
        <a href="#">Location</a>
      </nav>

    </div>

    <p class="footer__copy">&#169; 2025 CoffeeJoy. All rights reserved.</p>
  </div>
</footer>
