<footer class="footer">
  <div class="container footer-container">
    <div class="footer-box">

      <div class="footer-left">
        <a href="#" class="footer-logo">
          <svg class="footer-logo-icon">
            <use href="/img/icon/icons.svg#icon-logo"></use>
          </svg>
        </a>
        
        <ul class="footer-socials">
          <li><a href="#"><svg class="footer-icon"><use href="/img/icon/icons.svg#icon-facebook-icon"></use></svg></a></li>
          <li><a href="#"><svg class="footer-icon"><use href="/img/icon/icons.svg#icon-insta-icon"></use></svg></a></li>
          <li><a href="#"><svg class="footer-icon"><use href="/img/icon/icons.svg#icon-Twitter-icon"></use></svg></a></li>
        </ul>
      </div>

      <nav class="footer-nav">
        <a href="#">About us</a>
        <a href="#link-quality">Benefits</a>
        <a href="#link-gallery">Gallery</a>
        <a href="#link-testimonials">Testimonial</a>
        <a href="#link-location">Location</a>
      </nav>

    </div>

    <p class="footer-copy">&#169; 2025 CoffeeJoy. All rights reserved.</p>
  </div>
</footer>
