<header class="header">
  <div class="container header-container">

    
    <a href="#" class="header-logo">
      <svg class="header-logo-icon">
        <use href="/img/icon/icons.svg#icon-logo"></use>
      </svg>
    </a>

   
    <button class="header-burger" aria-label="Open menu" data-menu-open>
      <svg class="header-burger-icon">
        <use href="/img/icon/icons.svg#icon-burger-icon"></use>
      </svg>
    </button>

   
    <nav class="header-nav">
      <a href="#">About us</a>
      <a href="#link-quality">Benefits</a>
      <a href="#link-gallery">Gallery</a>
      <a href="#link-testimonials">Testimonial</a>
      <a href="#link-location">Location</a>
    </nav>

  </div>
</header>
