<div class="mobile-menu" data-menu>
    <div class="mobile-menu-top">
        <a href="#" class="mobile-menu-logo">
            <svg width="84" height="36">
                <use href="/img/icon/icons.svg#icon-logo"></use>
            </svg>
        </a>

        <button type="button" class="mobile-menu-close" data-menu-close >
            <svg width="24" height="24">
              <use href="/img/icon/icons.svg#icon-close-icon"></use>
            </svg>
        </button>
    </div>

    <nav class="mobile-menu-nav">
        <ul class="mobile-menu-list">
            <li><a href="#link-hero" class="mobile-menu-link">About us</a></li>
            <li><a href="#link-quality" class="mobile-menu-link">Benefits</a></li>
            <li><a href="#link-gallery" class="mobile-menu-link">Gallery</a></li>
            <li><a href="#link-testimonials" class="mobile-menu-link">Testimonial</a></li>
            <li><a href="#link-location" class="mobile-menu-link">Location</a></li>
        </ul>
    </nav>

</div>