<section class="quality-section" id="link-quality">
  <div class="container quality-container">
    <p class="quality-tag">Quality</p>
    <h2 class="quality-title">Why CoffeeJoy Stands Out from the Rest</h2>
    <p class="quality-text">
      At CoffeeJoy, we pride ourselves on delivering the freshest roasted
      coffee, crafted with care by our skilled baristas. Our flexible
      subscription plans ensure that your coffee experience is tailored to your
      needs.
    </p>
    <ul class="quality-list">
      <li class="quality-card">
        <div class="quality-img-thumb">
          <img
            class="quality-img"
            srcset="
              /img/quality/coffee-beans-1x.jpg 1x,
              /img/quality/coffee-beans-2x.jpg 2x
            "
            src="/img/quality/coffee-beans-1x.jpg"
            alt="Fresh-Roasted Coffee"
          />
        </div>
        <div class="quality-card-wrapper">
          <h3 class="quality-card-title">
            Fresh-Roasted Coffee for Every Taste
          </h3>
          <p class="quality-card-text">
            Savor the rich flavors of our expertly sourced beans.
          </p>
        </div>
      </li>
      <li class="quality-card">
        <div class="quality-img-thumb">
          <img
            class="quality-img"
            srcset="
              /img/quality/barista-1x.jpg 1x,
              /img/quality/barista-2x.jpg 2x
            "
            src="../img/quality/barista-1x.jpg"
            alt="Baristas Crafting Perfect Brew"
          />
        </div>
        <div class="quality-card-wrapper">
          <h3 class="quality-card-title">
            Expert Baristas Crafting Your Perfect Brew
          </h3>
          <p class="quality-card-text">
            Our baristas are passionate about coffee and skilled in their craft.
          </p>
        </div>
      </li>
      <li class="quality-card">
        <div class="quality-img-thumb">
          <img
            class="quality-img"
            srcset="
              /img/quality/atmosphere-1x.jpg 1x,
              /img/quality/atmosphere-2x.jpg 2x
            "
            src="../img/quality/atmosphere-1x.jpg"
            alt="Baristas Crafting Perfect Brew"
          />
        </div>
        <div class="quality-card-wrapper">
          <h3 class="quality-card-title">Cozy Atmosphere</h3>
          <p class="quality-card-text">
            We don’t just serve coffee — we create a warm and welcoming space
            where every cup feels like home.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
