<section class="testimonials container"  id="link-testimonials">
    <h2 class="testimonials-title">What our visitors say</h2>
    <ul class="testimonials-list">
        <li class="testimonials-item">
            <div class="testimonials-content">
                <ul class="stars-list">
                    <li class="star-point-black">
                        <svg class="star-icon" width="20" height="18.89">
                            <use href="/img/icon/icons.svg#icon-star-filled-icon"></use>
                        </svg>
                    </li>
                    <li class="star-point-black">
                        <svg class="star-icon" width="20" height="18.89">
                            <use href="/img/icon/icons.svg#icon-star-filled-icon"></use>
                        </svg>
                    </li>
                    <li class="star-point-black">
                        <svg class="star-icon" width="20" height="18.89">
                            <use href="/img/icon/icons.svg#icon-star-filled-icon"></use>
                        </svg>
                    </li>
                    <li class="star-point-black">
                        <svg class="star-icon" width="20" height="18.89">
                            <use href="/img/icon/icons.svg#icon-star-filled-icon"></use>
                        </svg>
                    </li>
                    <li class="star-point-white">
                        <svg class="star-icon-white" width="20" height="18.89">
                            <use href="/img/icon/icons.svg#icon-star-outline-icon"></use>
                        </svg>
                    </li>
                </ul>
                <p class="testimonials-text">"Every cup feels like a warm hug! I’m addicted to their seasonal flavors!"
                </p>
            </div>
            <h3 class="testimonials-subtitle">Name Surname</h3>
        </li>

        <li class="testimonials-item">
            <div class="testimonials-content">
                <ul class="stars-list">
                    <li class="star-point-black">
                        <svg class="star-icon" width="20" height="18.89">
                            <use href="/img/icon/icons.svg#icon-star-filled-icon"></use>
                        </svg>
                    </li>
                    <li class="star-point-black">
                        <svg class="star-icon" width="20" height="18.89">
                            <use href="/img/icon/icons.svg#icon-star-filled-icon"></use>
                        </svg>
                    </li>
                    <li class="star-point-black">
                        <svg class="star-icon" width="20" height="18.89">
                            <use href="/img/icon/icons.svg#icon-star-filled-icon"></use>
                        </svg>
                    </li>
                    <li class="star-point-black">
                        <svg class="star-icon" width="20" height="18.89">
                            <use href="/img/icon/icons.svg#icon-star-filled-icon"></use>
                        </svg>
                    </li>
                    <li class="star-point-white">
                        <svg class="star-icon-white" width="20" height="18.89">
                            <use href="/img/icon/icons.svg#icon-star-outline-icon"></use>
                        </svg>
                    </li>
                </ul>
                <p class="testimonials-text">"CoffeeJoy is my go-to place for a perfect cup of coffee! The ambiance is
                    so inviting, and the
                    baristas are always
                    friendly."</p>
            </div>
            <h3 class="testimonials-subtitle">Alice Johnson</h3>
        </li>

        <li class="testimonials-item">
            <div class="testimonials-content">
                <ul class="stars-list">
                    <li class="star-point-black">
                        <svg class="star-icon" width="20" height="18.89">
                            <use href="/img/icon/icons.svg#icon-star-filled-icon"></use>
                        </svg>
                    </li>
                    <li class="star-point-black">
                        <svg class="star-icon" width="20" height="18.89">
                            <use href="/img/icon/icons.svg#icon-star-filled-icon"></use>
                        </svg>
                    </li>
                    <li class="star-point-black">
                        <svg class="star-icon" width="20" height="18.89">
                            <use href="/img/icon/icons.svg#icon-star-filled-icon"></use>
                        </svg>
                    </li>
                    <li class="star-point-black">
                        <svg class="star-icon" width="20" height="18.89">
                            <use href="/img/icon/icons.svg#icon-star-filled-icon"></use>
                        </svg>
                    </li>
                    <li class="star-point-black">
                        <svg class="star-icon" width="20" height="18.89">
                            <use href="/img/icon/icons.svg#icon-star-filled-icon"></use>
                        </svg>
                    </li>
                </ul>
                <p class="testimonials-text">"I love the variety of blends offered at CoffeeJoy. Every visit feels like
                    a new experience!"</p>
            </div>
            <h3 class="testimonials-subtitle">Michael Smith</h3>
        </li>

        <li class="testimonials-item">
            <div class="testimonials-content">
                <ul class="stars-list">
                    <li class="star-point-black">
                        <svg class="star-icon" width="20" height="18.89">
                            <use href="/img/icon/icons.svg#icon-star-filled-icon"></use>
                        </svg>
                    </li>
                    <li class="star-point-black">
                        <svg class="star-icon" width="20" height="18.89">
                            <use href="/img/icon/icons.svg#icon-star-filled-icon"></use>
                        </svg>
                    </li>
                    <li class="star-point-black">
                        <svg class="star-icon" width="20" height="18.89">
                            <use href="/img/icon/icons.svg#icon-star-filled-icon"></use>
                        </svg>
                    </li>
                    <li class="star-point-white">
                        <svg class="star-icon-white" width="20" height="18.89">
                            <use href="/img/icon/icons.svg#icon-star-outline-icon"></use>
                        </svg>
                    </li>
                    <li class="star-point-white">
                        <svg class="star-icon-white" width="20" height="18.89">
                            <use href="/img/icon/icons.svg#icon-star-outline-icon"></use>
                        </svg>
                    </li>
                </ul>
                <p class="testimonials-text">"The pastries are to die for! I can’t resist pairing them with my favorite
                    latte. Highly recommend
                    this spot!"</p>
            </div>
            <h3 class="testimonials-subtitle">Emily Davis</h3>
        </li>

        <li class="testimonials-item">
            <div class="testimonials-content">
                <ul class="stars-list">
                    <li class="star-point-black">
                        <svg class="star-icon" width="20" height="18.89">
                            <use href="/img/icon/icons.svg#icon-star-filled-icon"></use>
                        </svg>
                    </li>
                    <li class="star-point-black">
                        <svg class="star-icon" width="20" height="18.89">
                            <use href="/img/icon/icons.svg#icon-star-filled-icon"></use>
                        </svg>
                    </li>
                    <li class="star-point-black">
                        <svg class="star-icon" width="20" height="18.89">
                            <use href="/img/icon/icons.svg#icon-star-filled-icon"></use>
                        </svg>
                    </li>
                    <li class="star-point-black">
                        <svg class="star-icon" width="20" height="18.89">
                            <use href="/img/icon/icons.svg#icon-star-filled-icon"></use>
                        </svg>
                    </li>
                    <li class="star-point-black">
                        <svg class="star-icon" width="20" height="18.89">
                            <use href="/img/icon/icons.svg#icon-star-filled-icon"></use>
                        </svg>
                    </li>
                </ul>
                <p class="testimonials-text">"A cozy little gem! CoffeeJoy has the best cold brew in town. I come here
                    every weekend!"</p>
            </div>
            <h3 class="testimonials-subtitle">James Brown</h3>
        </li>

        <li class="testimonials-item">
            <div class="testimonials-content">
                <ul class="stars-list">
                    <li class="star-point-black">
                        <svg class="star-icon" width="20" height="18.89">
                            <use href="/img/icon/icons.svg#icon-star-filled-icon"></use>
                        </svg>
                    </li>
                    <li class="star-point-black">
                        <svg class="star-icon" width="20" height="18.89">
                            <use href="/img/icon/icons.svg#icon-star-filled-icon"></use>
                        </svg>
                    </li>
                    <li class="star-point-black">
                        <svg class="star-icon" width="20" height="18.89">
                            <use href="/img/icon/icons.svg#icon-star-filled-icon"></use>
                        </svg>
                    </li>
                    <li class="star-point-white">
                        <svg class="star-icon-white" width="20" height="18.89">
                            <use href="/img/icon/icons.svg#icon-star-outline-icon"></use>
                        </svg>
                    </li>
                    <li class="star-point-white">
                        <svg class="star-icon-white" width="20" height="18.89">
                            <use href="/img/icon/icons.svg#icon-star-outline-icon"></use>
                        </svg>
                    </li>
                </ul>
                <p class="testimonials-text">"The atmosphere is perfect for working or relaxing with friends. Their
                    Wi-Fi is fast too!"</p>
            </div>
            <h3 class="testimonials-subtitle">Sarah Wilson</h3>
        </li>

        <li class="testimonials-item">
            <div class="testimonials-content">
                <ul class="stars-list">
                    <li class="star-point-black">
                        <svg class="star-icon" width="20" height="18.89">
                            <use href="/img/icon/icons.svg#icon-star-filled-icon"></use>
                        </svg>
                    </li>
                    <li class="star-point-black">
                        <svg class="star-icon" width="20" height="18.89">
                            <use href="/img/icon/icons.svg#icon-star-filled-icon"></use>
                        </svg>
                    </li>
                    <li class="star-point-black">
                        <svg class="star-icon" width="20" height="18.89">
                            <use href="/img/icon/icons.svg#icon-star-filled-icon"></use>
                        </svg>
                    </li>
                    <li class="star-point-black">
                        <svg class="star-icon" width="20" height="18.89">
                            <use href="/img/icon/icons.svg#icon-star-filled-icon"></use>
                        </svg>
                    </li>
                    <li class="star-point-white">
                        <svg class="star-icon-white" width="20" height="18.89">
                            <use href="/img/icon/icons.svg#icon-star-outline-icon"></use>
                        </svg>
                    </li>
                </ul>
                <p class="testimonials-text">"I’m addicted to their seasonal flavors! Each one is crafted with such care
                    and creativity."</p>
            </div>
            <h3 class="testimonials-subtitle">Chris Lee</h3>
        </li>

        <li class="testimonials-item">
            <div class="testimonials-content">
                <ul class="stars-list">
                    <li class="star-point-black">
                        <svg class="star-icon" width="20" height="18.89">
                            <use href="/img/icon/icons.svg#icon-star-filled-icon"></use>
                        </svg>
                    </li>
                    <li class="star-point-black">
                        <svg class="star-icon" width="20" height="18.89">
                            <use href="/img/icon/icons.svg#icon-star-filled-icon"></use>
                        </svg>
                    </li>
                    <li class="star-point-black">
                        <svg class="star-icon" width="20" height="18.89">
                            <use href="/img/icon/icons.svg#icon-star-filled-icon"></use>
                        </svg>
                    </li>
                    <li class="star-point-black">
                        <svg class="star-icon" width="20" height="18.89">
                            <use href="/img/icon/icons.svg#icon-star-filled-icon"></use>
                        </svg>
                    </li>
                    <li class="star-point-white">
                        <svg class="star-icon-white" width="20" height="18.89">
                            <use href="/img/icon/icons.svg#icon-star-outline-icon"></use>
                        </svg>
                    </li>
                </ul>
                <p class="testimonials-text">"I appreciate how they source their coffee beans sustainably. It's great to
                    support such an ethical
                    business!"</p>
            </div>
            <h3 class="testimonials-subtitle">Patricia Taylor</h3>
        </li>
    </ul>

</section>