<section class="welcome container">
    <div class="welcome-container">
        <div class="welcome-title-wrapper">
            <div class="welcome-title-item">
                <p class="welcome-tag">Welcome</p>
                <h2 class="welcome-title">Our Journey: Passion for Quality Coffee</h2>
            </div>
            <div class="welcome-title-item">
                <p class="welcome-text">
                    At CoffeeJoy, we believe that every cup tells a story. Our mission is to bring you the finest coffee
                    experiences,
                    crafted with care and dedication. We are committed to sourcing high-quality beans and roasting them
                    to
                    perfection,
                    ensuring each sip is a delight.
                </p>
                <a href="#link-location" class="location-button">
  Find location
  <svg class="location-icon" width="24" height="24">
    <use href="/img/icon/icons.svg#icon-map-pin-icon"></use>
  </svg>
</a>
            </div>
        </div>
        <div class="welcome-picture-container">
            <picture>
                <source srcset="/img/welcome/welcome-mobile-1x.jpg 1x, /img/welcome/welcome-mobile-2x.jpg 2x"
                    media="(max-width: 767px)" />
                <source srcset="/img/welcome/welcome-tablet-1x.jpg 1x, /img/welcome/welcome-tablet-2x.jpg 2x"
                    media="(min-width: 768px) and (max-width: 1439px)" />
                <source srcset="/img/welcome/welcome-desktop-1x.jpg 1x, /img/welcome/welcome-desktop-2x.jpg 2x"
                    media="(min-width: 1440px)" />
                <img class="welcome-img" src="/img/welcome/welcome-desktop-1x.jpg"
                    alt="a man pours coffee from a coffee pot into a glass cup">
            </picture>
        </div>
    </div>
</section>