.footer {
  background: #b58869;
  padding: 40px 16px 20px;
  font-family: "Quicksand", sans-serif;
  color: #1a1a1a;
}

.footer__box {
  background: #c29d84;
  border-radius: 40px;
  padding: 40px 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  text-align: center;
}

.footer__logo-icon {
  width: 196px;
height: 84px;
  display: block;
  fill: #1a1a1a;
}


.footer__socials {
  display: flex;
  gap: 32px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__icon {
  width: 28px;
  height: 28px;
  fill: #1a1a1a;
}


.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.footer__nav a {
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__nav a:hover, .footer__nav a:focus {
   opacity: 0.5;
}

.footer__copy {
  text-align: center;
  margin-top: 30px;
    font-weight: 400;
font-size: 14px;
line-height: 1.5;
color: #0b0803;
}

@media (min-width: 768px) {
  .footer__box {
    border-radius: 50px;
    gap: 30px;
  }

  .footer__logo-icon {
    width: 84px;
height: 36px;
  }

  .footer__nav {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  .footer__nav a {
    font-size: 18px;
  }
}

@media (min-width: 1440px) {
  .footer__box {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;

    padding: 30px 50px;
    border-radius: 60px;
  }

  .footer__logo-icon {
    width: 84px;
height: 36px;
  }
 
  .footer__nav {
    gap: 40px;
  }

  .footer__copy {
    font-size: 16px;
    margin-top: 25px;
  }
}

.footer__left {
  display: flex;
  align-items: center;
  gap: 40px;
}

.footer__socials {
  gap: 12px;
}