

.hero {
  padding: 120px 0 80px;
  background-image:
    linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)),
    url("../img/hero/hero-bg-1x.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

.hero-container {
  max-width: 320px;
}

.hero-title {
font-family: "Aboreto", sans-serif;
font-weight: 400;
font-size: 40px;
line-height: 1.2;
letter-spacing: -0.01em;
color: #fff;
  margin-bottom: 24px;
}

.hero-text {
  font-family: "Quicksand", sans-serif;
font-weight: 400;
font-size: 18px;
line-height: 1.5;
color: #fff;
  margin-bottom: 32px;
  max-width: 280px;
}

.hero-btn {
    font-family: "Quicksand", sans-serif;
font-weight: 500;
font-size: 16px; 
line-height: 1.5;
color: #fff;
  display: inline-block;
  padding: 14px 32px;
  border-radius: 100px;
  background-color: #6f4e37;
  box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  
  transition: background-color 250ms ease;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #6f523c;
}



@media screen and (min-width: 768px) {
  .hero {
    padding: 160px 0 120px;
    background-image:
      linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
      url("../img/hero/hero-bg-1x.jpg");
  }

  .hero-container {
    max-width: 600px;
  }

  .hero-title {
    font-size: 64px;
  }

  .hero-text {
    font-size: 18px;
    max-width: 500px;
  }
}



@media screen and (min-width: 1440px) {
  .hero {
    padding: 220px 0 180px;
    background-image:
      linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
      url("../img/hero/hero-bg-1x.jpg");
  }

  .hero-container {
    max-width: 720px;
  }

  .hero-title {
    font-size: 80px;
  }

  .hero-text {
    font-size: 20px;
    max-width: 620px;
  }
}
