/*Location section styles*/

.location{
    padding: 64px 0px;
    background-color: #e0cbb4;
}

.location-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.location-subtitle{
font-family: "Quicksand", sans-serif;
font-weight: 600;
font-size: 16px;
line-height: 1.5;

margin-bottom: 16px;
color: #0b0803;
}

.location-title{
font-family: "Aboreto", sans-serif;
font-size: 36px;
line-height: 1.2;
letter-spacing: -0.01em;

margin-bottom: 24px;
color: #0b0803;
}

.location-text{
font-family: "Quicksand", sans-serif;
font-size: 18px;
line-height: 1.5;

margin-bottom: 40px;
color: #0b0803;
}

.location-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 40px;
}


.email-item, .phone-item, .map-item {
    fill: #0b0803;
}

.location-label {
    font-family: "Aboreto", sans-serif;
font-weight: 400;
font-size: 20px;
line-height: 1.4;
letter-spacing: -0.01em;

margin-top: 16px;
margin-bottom: 8px;

color: #0b0803;
}

.location-link {
font-family: "Quicksand", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
text-decoration: underline;
text-decoration-skip-ink: none;
}

.location-address{
    font-style: normal;
    margin-bottom: 16px;
}

.location-directions{
    font-family: "Quicksand", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;

display: inline-flex;
  align-items: center;
  gap: 8px;
}

.location-directions svg{
    display: block;
    flex-shrink: 0;
    transform: translateY(1px);
}

.location-map{
    width: 288px;
    height: 307px;
    margin: 0 auto;
    border-radius: 40px;
    overflow: hidden;

}
.location-map iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
}

@media screen and (min-width: 768px) {
    .location-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
}