.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0 16px;

    background-color: #e0cbb4;

    opacity: 0;
    visibility: hidden;

      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
              visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.mobile-menu-logo{
    padding: 0;
}

.close-icon{
    padding: 0;
    
    
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-top{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 18px;
    padding-bottom: 18px;
}

.mobile-menu-close{

    width: 48px;
    height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;

    background-color: transparent;
    border: none;
}

.mobile-menu-close svg{
  fill: #0b0803;
  width: 24px;
    height: 24px;
  display: block;
  transition: opacity 250ms cubic-bezier(0.4,0,0.2,1);
}


.mobile-menu-close:hover svg,
.mobile-menu-close:focus-visible svg{
  opacity: 0.5;
}

.mobile-menu-close:active svg{
  opacity: 0.7;
}

.mobile-menu-list{
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 32px;
}


@media screen and (min-width: 768px) {
  .mobile-menu{
    display: none;
  }
}