.coffee-section {
    background: #e0cbb4;
}

.coffee-container {
    margin: 0 auto;
    padding: 64px 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.coffee-title {
    font-family: "Aboreto", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    margin-bottom: 24px;
    color: #0b0803;
    text-transform: uppercase;
}

.coffee-subtitle {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #0b0803;
    margin-bottom: 32px;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.coffee-label {
    width: 100%;
}

.coffee-input {
    width: 100%;
    height: 40px;
    padding: 8px 12px;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(11, 8, 3, 0.6);
    background-color: transparent;
    border: 1px solid rgba(11, 8, 3, 0.15);
    border-radius: 12px;
    outline: none;
    transition: color 250ms cubic-bezier(.4, 0, .2, 1);
}


.coffee-input:hover, .coffee-input:focus {
    color: #0b0803;
}

.coffee-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 12px;
    width: 100%;
    height: 44px;
    padding: 10px 89px;
    margin-bottom: 16px;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    background: #6f4e37;
    border: none;
    border-radius: 100px;
    box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
    transition:  background-color 250ms cubic-bezier(.4, 0, .2, 1), opacity 250ms cubic-bezier(.4, 0, .2, 1);
}

.coffee-button:hover {
    box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
    background-color: #6f4e37;
    opacity: 0.5;
}

.coffee-button:focus {
    box-shadow: none;
    background-color: #6f4e37;
    opacity: unset;
}

.coffee-svg {
    fill: #fff;
    transition: fill 250ms cubic-bezier(.4, 0, .2, 1);
}


.coffee-terms {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: #0b0803;
    padding-bottom: 32px;
}

.coffee-image picture {
    display: block;
    width: 100%;
}

.coffee-image img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 40px;
}

@media screen and (min-width: 768px) {
    .coffee-container {
        max-width: 768px;
        padding: 64px 32px;
    }
    .subscribe-form {
        flex-direction: row;
        align-items: center;
        margin-bottom: 18px;
    }
    .coffee-label {
        width: 340px; 
    }
    .coffee-input {
        width: 340px;
        height: 44px;
        background-color: rgba(255, 255, 255, 0);
    }
    .coffee-button {
        width: 158px;
        margin-bottom: 0;
        padding: 10px 24px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
        padding: 64px;
    }
    .coffee-container {
        flex-direction: row;
        align-items: center;
        gap: 32px;
    }
    .coffee-content {
        width: 640px;
    }
    .coffee-title {
        margin-top: auto;
        font-size: 48px;
    }
    .subscribe-form {
        gap: 16px;
    }
    .coffee-terms {
        margin-bottom: auto;
    }
}