.coffee-section {
    max-width: 320px;
    margin: 0 auto;
    padding: 64px 16px;
    background: #e0cbb4;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.coffee-title {
    font-family: "Aboreto", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    margin-bottom: 24px;
    color: #0b0803;
    text-transform: uppercase;
}

.coffee-subtitle {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #0b0803;
    margin-bottom: 32px;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.coffee-label {
    width: 100%;
}

.coffee-input {
    width: 100%;
    border: 1px solid rgba(11, 8, 3, 0.15);
    border-radius: 12px;
    padding: 8px 12px;
    width: 288px;
    height: 40px;
    background-color: transparent;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(11, 8, 3, 0.6);
    outline: none;
}

.coffee-input::placeholder {
    color: rgba(11, 8, 3, 0.6);
}

.coffee-button {
    border-radius: 100px;
    padding: 10px 24px;
    width: 288px;
    height: 44px;
    box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
    background: #6f4e37;
    padding: 10px 89px;
    gap: 12px;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 16px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.coffee-button:hover {
    box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
    background: #6f4e37;
    opacity: 0.5;
}


.coffee-svg {
    fill: #fff;
}

.coffee-terms {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: #0b0803;
    margin-bottom: 32px;
}

.coffee-image img {
    border-radius: 40px;
    width: 288px;
    height: 400px;
}