/* -----------------testimonials----------------------- */

.testimonials-title {
    max-width: 288px;
    text-transform: uppercase;
    font-family: "Aboreto", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #0b0803;
    padding-bottom: 24px;
}

.testimonials-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
   }

.testimonials-item {
    display: flex;
    flex-direction: column;
    background-color: #c29d84;
    border: 1px solid rgba(11, 8, 3, 0.15);
    border-radius: 32px;
    padding: 32px;

}

.stars-list {
    display: flex;
    gap: 4px;
    padding-bottom: 24px;
}

.testimonials-text {
    font-size: 18px;
    line-height: 1.5;
    color: #0b0803;
    
}

.testimonials-subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #0b0803;
    margin-top: 24px;

}

.star-icon-white {
    fill: #c29d84;
    stroke-width: 1px;
    stroke: #0b0803;
}

@media screen and (min-width: 768px) {

.container {
    padding: 0 32px;
}
.testimonials-item {
    width: calc((100% - 24px) / 2);
    min-height: 253px;
    }

.testimonials-title {
    max-width: 498px;
}

.testimonials-subtitle {
    margin-top: auto;
}
}

@media screen and (min-width: 1440px) {

.container {
    padding: 0 64px;
    max-width: 1440px;
}

.testimonials-item {
   width: calc((100% - 72px) / 4);
   min-height: 303px;
}

.testimonials-title {
    max-width: 416px;
    font-size: 48px;
}
}