/* ------------------------ welcome------------------------------- */

.welcome-section {
    padding: 64px 0px;
    background: #e0cbb4;
}
.welcome-tag {
    font-weight: 600;
    font-size: 16px;
    color: #0b0803;
    margin-bottom: 16px;
}

.welcome-title {
    font-family: "Aboreto", sans-serif;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #0b0803;
}

.welcome-title-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 32px;
}
.welcome-title-item {
    flex: 1;
}

.welcome-text {
    font-weight: 400;
    font-size: 18px;
    color: #0b0803;
}

.location-button {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    margin-top: 32px;
    border-radius: 100px;
    padding: 10px 77.5px;
    width: auto;
    min-height: 44px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #fff;
    fill: #fff;
    opacity: 1;
    background-color: #6f4e37;
    box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
    transition: box-shadow 150ms ease, opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.location-button:hover,
.location-button:focus-visible {
    opacity: 0.5;
}

.location-button:active {
    opacity: 1;
    box-shadow: none;
 }
.welcome-picture-container {
    overflow: hidden;
    width: 100%;
    border-radius: 40px;
}
.welcome-img {
    display: block;
    height: auto;
    width: 100%;
}

@media screen and (min-width: 768px) {

.welcome-title-wrapper {
    flex-direction: row;
    gap: 32px;
}

.location-button {
    padding: 10px 24px;
}
}
