/* ------------------------ welcome------------------------------- */
.welcome-container {
    padding: 64px 16px;
    background: #e0cbb4;
}
.welcome-tag {
    font-weight: 600;
    font-size: 16px;
    color: #0b0803;
    padding-bottom: 16px;
}

.welcome-title {
    font-family: "Aboreto", sans-serif;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #0b0803;
    padding-bottom: 32px;
}

.welcome-text {
    font-weight: 400;
    font-size: 18px;
    color: #0b0803;
}

.location-button {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    margin-top: 32px;
    margin-bottom: 32px;
    border-radius: 100px;
    padding: 10px 77.5px;
    width: 288px;
    height: 44px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #fff;
    fill: #fff;
    background-color: #6f4e37;
    box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
}
.welcome-picture-container {
    border-radius: 40px;
    overflow: hidden;

}
/* .location-button:hover,
.location-button:focus {
    background-color: #31d0aa;
} */
@media screen and (min-width: 768px) {

    .welcome-container {
        padding: 64px 32px;
    }

}
@media screen and (min-width: 1440px) {

    .welcome-container {
        padding: 64px 64px;
      
    }

}